@import "font.scss";
@import "variables.scss";
@import "media.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #171717;
    color: #fff;
    font-family: "Roboto";
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    margin-top: 100px;
    flex: 1 0 auto;
    @media #{$mq-md} {
        margin-top: 30px;
    }
}
.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-grid {
    margin-top: 40px;
    display: flex;
    column-gap: 30px;
    row-gap: 75px;
    flex-wrap: wrap;
    @media #{$mq-sm} {
        justify-content: center;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 38px;
    list-style: none;
    &__link {
        color: $color-white;
        text-decoration: none;

        &_icon {
            font-size: 25px;
        }

        &:hover {
            color: $color-gold;
            transition: $transition-fast;
        }
    }
}

.button {
    text-decoration: none;
    cursor: pointer;
    padding: 13px 18px;
    text-align: center;
    font-family: Roboto;
    font-weight: 800;
    font-size: 16px;
    color: $color-black;
    background: $color-gold;
    border: none;
    outline: none;
    border-radius: $border-radius-small;
}

.button_white {
    color: $color-black;
    background: $color-white;
}

.button_transparent {
    background: transparent;
    color: $color-gold;
    font-weight: 300;
    font-family: Raleway;
}

.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 370px;

    @media #{$mq-lg} {
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__label {
        font-family: Raleway;
        font-size: 24px;
    }

    &__input {
        background-color: transparent;
        color: $color-white;
        font-size: 16px;
        outline: none;
        border: 1px solid rgba($color-gray, 0.3);
        border-radius: $border-radius-small;
        padding: 10px 12px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-wrap: nowrap;
        gap: 10px;

        .form__item {
            text-align: right;
            font-size: 14px;
            font-weight: 300;
        }

        a {
            color: $color-white;
            text-decoration: none;
        }
    }

    &__socials {
        p {
            margin-bottom: 10px;
            font-size: 14px;
        }

        a {
            font-size: 25px;
            color: $color-white;
            text-decoration: none;
        }

        a + a {
            margin-left: 10px;
        }
    }

    &__error {
        color: red;
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }

    &__success {
        color: green;
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }
}
