@import "font.scss";
@import "variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #171717;
    color: #fff;
    font-family: "Roboto";
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 38px;
    list-style: none;
    &__link {
        color: $color-white;
        text-decoration: none;

        &_icon {
            font-size: 25px;
        }

        &:hover {
            color: $color-gold;
            transition: $transition-fast;
        }
    }
}

.button {
    cursor: pointer;
    padding: 13px 18px;
    text-align: center;
    font-family: Roboto;
    font-weight: 800;
    font-size: 16px;
    background: $color-gold;
    border: none;
    outline: none;
    border-radius: $border-radius-small;
}

.button_white {
    color: $color-black;
    background: $color-white;
}

.button_transparent {
    background: transparent;
    color: $color-gold;
}

.product-grid {
    margin-top: 40px;
    display: flex;
    column-gap: 30px;
    row-gap: 75px;
    flex-wrap: wrap;
}
