// ! colors
$color-white: #fafafa;
$color-gold: #ffe766;
$color-black: #171717;
$color-gray: #cfcece;
// ? transitions
$transition: all 0.3s ease-in-out;
$transition-fast: all 0.1s ease-in-out;
$transition-slow: all 0.2s ease-in-out;
$transition-fast-out: all 0.1s ease-out;
$transition-slow-out: all 0.2s ease-out;
//border-radius
$border-radius-small: 12px;
$border-radius: 24px;
